@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Adboard.Contracts.DTOs.Category;

@{
    IReadOnlyCollection<CategoryDto> cats = ViewBag.Categories;

}

<div class="modal-content">
    <div class="d-flex flex-wrap justify-content-between p-2">
        @foreach (CategoryDto header in cats)
        {
            if(header.ParentCategory == null)
            {
            <dl class="m-1" style="width: 240px">
            <dt><a href="~/Advert/Filter?CategoryId=@header.Id">@header.Name</a></dt>
                @foreach(CategoryDto item in cats)
                {
                    if (item.ParentCategoryId == header.Id) 
                    {
                        <dd class="m-0"><a href="~/Advert/Filter?CategoryId=@item.Id">@item.Name</a></dd>
                    }
                }
            </dl>
            }
        
        }
    </div>

</div>